.dictionary-rows{
   min-width: 70%;
    margin-right: 15px;

}

.dictionary-actions{
     min-width: calc(30% - 30px);
    margin-left: 15px;
    padding: 30px;
}

.flex{
    display: flex;
    width: 100%;
}

.errorRow{
    background-color: #ff8e8e6b !important
}